body{margin:0;}



	/*<!--ESTILOS DEL CONTADOR-->*/

	.contador li {
		display: inline-block;
		font-size: 1em;
		list-style-type: none;
		padding: 0.5em;
		text-transform: uppercase;
		color: #283052;


	}

	.contador li span {
		display: block;
		font-size: 1.9rem;
		font-family: 'Lato', sans-serif;
		margin-bottom: 5px;
		padding: 5px;
		background-color: #fff;
		border-radius: 3px;
		min-width: 30px;
		font-weight: 300;
		background-color: orange;
	}


	.contador {
	position: relative;
    top: 0%;
    left: 0%;
    text-align: center;
    border-radius: 5px;
    background-color: #ccc;

	}

	.contador p {
		color: #000000;
		text-align: center;
	}

	span#days {
		display: none;
	}

	.relative {
		position: relative;
	}

	.clear {
		clear: both;
	}

	



		.contador li {
			font-size: 0.5em;
			padding: 1em;
		}


.verde{
	height: 3%;
	background-color: #006341;

}
.main-header{

}


/*Modificación cssB*/


.navbar{
	text-align: center;
}

.navbar{
	/*position: fixed!important; no me funciono pero boostrap tiene la clase fix on top  */ 
	max-width: 100%;
	background-color:#000000;
	z-index: 100;
}
/*.row{
	clear: both;	
	}*/

	.banner-top{
		background-color: tomato; /*eliminar*/
		box-sizing: border-box;
		background-size: 100% auto;
		height: 434px;
		width: 100%;
		padding: 15%;
		margin-top: 5px;
		/*background-size: cover;*/
		box-sizing: border-box;
		/*	background-image: url(../../assets/images/cont-img/banner001.jpg);*/
		background: url(../../assets/images/cont-img/banner002.jpg) no-repeat top center / cover transparent;
	}

	.banner-top2{
		background-color: tomato; /*eliminar*/
		box-sizing: border-box;
		background-size: 100% auto;
		height: 434px;
		width: 100%;
		padding: 15%;
		box-sizing: border-box;
		background: url(../../assets/images/cont-img/banner003.jpg) no-repeat top center / cover transparent;
	}

	.txt-bajada{
		color: #fff; 
		text-align: center !important; 
		font-size: 28px;
	}
	.txt-banner-top{
		color: #fff; 
		text-align: center; 
		font-size: 22px;
		margin-top: 63px;
	}
	.page-header{
		text-align: center;
	}

	.logo-footer {
		margin-top: 20px;
		margin-bottom: 20px;
		text-align: center;
		width: 70px; 
		height: 70px;
		margin-left: 30%;

	}
	.texto-footer{
		text-align: center; 
		font-size: 14px;
		color: #ccc; 
	}

	.icons{
		margin: 0 160px;
		color: #5c9cd6;

	}

	.foto1{
		border-radius: 5px;
		border-style: solid;
		border-color: #5c9cd6;
		box-sizing: border-box;
		background: url(../../assets/images/cont-img/personas1.jpg) no-repeat top center / cover transparent;
		margin-bottom: 50px;
		height: 50%;
	}

	.foto2{
		border-radius: 5px;
		border-style: solid;
		border-color: #5c9cd6;
		box-sizing: border-box;
		background: url(../../assets/images/cont-img/personas.jpg) no-repeat top center / cover transparent;
		margin-bottom: 50px;
		height: 50%;
	}



	/*INDEX*/


	.tmpl-lp .lp-box {
		/*display: flex;*/

		align-items: center;
		height: auto;
	}
	.tmpl-lp .lp-box.lp-box-video-HD {
		padding: 20px 0;
		border-bottom: 1px solid #000000;
	}

.tmpl-lp .lp-box.lp-box-line {
		padding: 10px 0;
		border-bottom: 1px solid silver;
		height: 1px;
	}

	.tmpl-lp .lp-box .lp-box-title {
		font-size: 30px;
		color: orange;
	}

	
	.tmpl-lp .lp-box .lp-box-title-2 {
		font-size: 15px;
		color: black;
		margin-top: -2%;
	}


	.tmpl-lp .lp-box .lp-box-p {
		font-size: 17px;
	}

	.img-align {text-align: left;}
	@media (max-width: 768px) {
		.tmpl-lp .btn.btn-black {
			background-color: #000000;
			color: #ffffff;
			margin: 10%  auto;
		}
		.img-align {text-align: left;}
	}

	.tmpl-lp .lp-box.lp-box-gris {
		background-color: #f3f3f3;
	}

	.tmpl-lp .lp-box .lp-box-sale-hd {
		max-width: 100%;
		clear: both;
	}
	.tmpl-lp .lp-box-destacados {
		background-color: #a2a1a6;
	}
	.tmpl-lp .lp-box-destacados p {
		color: #ffffff;
		text-align: center;
	}

/*	.lp-box .lp-box .efecto-img{
		width: 100%;
		transition: -webkit-transform .7s;
		transition: transform .7s;
		transition: transform .7s, -webkit-transform .7s;
		-webkit-transform: scale(1);
		transform: scale(1);

	}*/

	.efecto-img{
		width: 100%;
		transition: -webkit-transform .7s;
		transition: transform .7s;
		transition: transform .7s, -webkit-transform .7s;
		-webkit-transform: scale(1);
		transform: scale(1);

	}

	.moto-family__motorcycle-price{

		color: orange;
		display: block;
		text-transform: uppercase;
		margin-bottom: -5px;
		    text-align: center;
		        padding-top: 10px;
		            padding-bottom: : 10px;


	}
 .tmpl-lp .btn {
    border-radius: 5;
    max-width: 150px;
    margin: 0 auto;
  }
  .tmpl-lp .btn.btn-black {
    background-color: #000000;
    color: #ffffff;
    margin: 10px auto;
        border-radius: 5px;
  }





/*---FOOTER---*/
.fab{
	height: 50px;

}

.icon-set{
	margin-right: 20px;
	width: auto;
	height: 20%;
}

.page-footer .footer-copyright {
    overflow: hidden;
    background-color: rgba(0,0,0,.2);
    color: rgba(255,255,255,.6);
}

/*.cyan.darken-3 {
    background-color: #000000!important;
}*/

.page-footer {
    bottom: 0;
    color: #fff;
}

.black {
    background-color: black!important;
}

.mb-5{
	margin-right: 20px;
}

.flex-center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 20%;
     font-size: 200%;

}

.fa-pinterest: {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}




/*Pag2 */
 /*  body{
     margin:0px;
     width: 960px;
     margin: auto;
     } */

     .sidebar-qn{
     	/*   float: left;*/
     	width: 50%;
     	height: 100%;
     	padding-left:25px;
     	padding-right: 25px;
     	box-sizing: border-box;
     	background:black;
     	color:white;
     	display: table-cell;
     } 

     .main-qn{
     	/*margin-left:50%;
     	padding: 0 50px 0 50px;
     	display: table-cell;
     	background-color: white;*/

     	width: 50%;
     	height: 100%;
     	padding-left:25px;
     	padding-right: 25px;
     	box-sizing: border-box;
     	background:black;
     	color:white;
     	display: table-cell;

     }
     .on-top-cont{
     	margin-top: 52px;}
     

    .tmpl-lp .lp-box-one-img-container img {
    max-width: 100%;
  }







/*contacto*/

.cookie__container {
    max-width: 760px;
    margin: 0 auto;
}

.text-anchor{
	
}


